@import "../styles/variables.scss";

.NGOImage {
  margin: 20px auto;
  display: flex;
}
.textContrainer {
  width: 80%;
  margin: 0px auto;
}

.NgoCard {
  // background: rgba(117, 183, 158, 0.3);
  // border-radius: 20px;
  padding: 10px;
  height: auto;
  // width: 440px;
  margin: 20px;
}


.NGO-title {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin: 10px auto;
  width: 70%;
}
.NGO-subtitle {
  margin: auto;
  width: 70%;
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

@media only screen and (max-width: 840px) {
  .NGO-title {
    font-size: 24px;
    // width: fit-content;
    text-align: center;
  }
  .NgoCard {
    align-items: center;
    margin: 10px;
    width: auto;
  }
  .NGOImage {
    width: auto;
  }
}

@media only screen and (max-width: 700px) {
  .NGO-title {
    // width: fit-content;
    font-size: 20px;
  }

  .NGOImage {
    width: 100%;
  }
  .NgoCard {
    margin: 10px;
    // height: 600px;
    height: fit-content;
    width: auto;
  }
}
